.card {
  border: 1.5px solid gray  ;
  max-width: 304px;
  min-width: 304px;
  max-height: 300px;
  min-height: 300px;
  margin: 15px;
  overflow: hidden;
}

.content{
  padding: 2px;
}

.title{
  padding: 2px;
}