.card {
  border: 1px solid gray  ;
  border-radius: 8px;
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px;
  margin: 5px;
}

.idCard{
  display: flex;
  flex-wrap: wrap;
  align-content: center!important;
  margin-right: 20px;
  font-weight: bold;
}

